.footer1{
    background-color: #1360AD ;
    color: white;
   padding-top: 2rem;
   padding-bottom: 3rem;
   padding-left: 3rem;
}

a{
    color: red;
}

.icon_1{
   padding: 3rem;
}

/* @media (max-width:768px){
   .icon{
    display: flex;
   }
} */
.icon{
    display: flex;
    gap:10px;
}


